body {
  margin: 0;
  background-color: #e4e4e4;
}
h2{
	font-size:25px;
}
.QuizContainer{
  /* min-height: 700px;
  height: 100%; */
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
.Menu, 
.Quiz,
.EndScreen {
  /* min-width:500px;
  max-width: 800px;   */
  min-height: 600px;
  background-color: #e4e4e4;
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: black;
  border-left: solid #555;
  border-right: solid #555;;
  max-width:100%;
  padding: 0;
	max-height:100%;
  padding-top: 30px;
}
.EndScreen{
	margin:0;
}
.Menu button, 
.Quiz button,
.EndScreen button{
  padding: 5px;
  margin: 5px;
  text-align: start;
  border: solid 5px transparent;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  box-shadow: #555 0px 0px 5px;
  width: 100%;
}
/* .Menu button{
  text-align: center;
  max-width: 300px;
} */
.menuBtnContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.logare {
  padding: 5px;
  margin: 5px;
  text-align: start;
  border: solid 5px transparent;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  box-shadow: #555 0px 0px 5px;
  width: 100%;
  text-align: center;
  max-width: 300px;
  text-decoration: none;
  color: #333;
}
.logare:hover {
border: solid rgb(0, 0, 0) 5px;
}
.title > h2{
	color: white;	
	margin: 15px;
}
.Menu button:hover, 
.Quiz .options button:hover,
.EndScreen button:hover {
border: solid rgb(0, 0, 0) 5px;
}
#footer > p{
	margin:0;
	opacity:70%;
}
.selectedAnswer{
  background-color:rgb(0, 0, 0);
  border-radius: 10px ;
  display: flex;
  width: 100%;
}

.nextBtn:hover{
  border: solid 5px transparent;
  font-weight: bold;
}

.options {
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
#right{
  background-color: rgb(198, 255, 92);
}
#wrong{ 
  background-color: rgb(255, 153, 153);
}

button.nextBtn, #endQuestionBtn {
  margin:30px;
  padding:10px;
  text-align: center;
  justify-content: center;
  align-self: center;
}
#endQuestionBtn, .nextBtn{
  max-width:400px;
}

  #btnWrap{
  width: 100%;
  display:flex;
  justify-content: center;
  }

  .Menu{
    overflow-y:scroll;
    overflow-x: hidden;
    /* max-height: 60vh; */
    margin:0px;
  }
  .Menu::-webkit-scrollbar,
  .Quiz::-webkit-scrollbar,
  .EndScreen::-webkit-scrollbar{
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e4e4e4;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .Quiz h2{
    align-self: flex-start;
  }
  .MenuContainer {
    display: flex;
    flex-direction:column;
    border-top: 0px;
    border-bottom: 0px;
    width:100%;
    padding:0;
    height:100%;
  }
  .questionContainer{
    margin-top: 10px;
  }
  .question{
    margin:20px;
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  #footer {
    height:30px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
  }
  #footer a{
    text-decoration: none;
    color: rgb(0, 217, 255);
    margin-right: 10px;
  }
  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 1px;
    background-color: rgb(71, 71, 71);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    z-index: 1;
    color: whitesmoke;
  }

@media screen and (max-width:900) {
  .optionsContainer{
    padding: 0px;
  }
}
.Offer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}
.subscription {
  /* width:200px; */
  max-width:220px;
  min-height:200px;
  padding:10px;
  margin: 10px;
  /* border: solid 2px ; */
  text-align: center;
  text-decoration: none;
  color: #333;
  border-radius: 15px;
  background-color: white;
  box-shadow: #555 0px 0px 5px;
  transition: all .2s ease-in-out;
}
.subscription:hover { 
    transform: scale(1.03); 
  box-shadow: rgb(32, 32, 32) 0px 0px 15px;
}
.subscription * {
  margin:0 0 10px 0;
}
.price{
  color: rgb(0, 40, 170);;
}
.discount{
  color: rgb(52, 218, 2);
}
.price, .discount{
	font-weight:bold;
}
.optionsContainer{
  padding: 0px;
  width: 100%;
  max-width: 800px;
}
.question{
max-width: 800px;
justify-self: center;
}
.menuDescription li{
  list-style-type: disc;
  margin: 10px;
}
.menuDescription{
  width: auto;
  color: #333;
  border-radius: 15px;
  background-color: white;
  box-shadow: #555 0px 0px 5px;
  padding:20px;
  margin: 0px 10px 20px 10px;
}