body {
  margin: 0;
  background-color: #e4e4e4;
}
.QuizContainer{
  /* min-height: 700px;
  height: 100%; */
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 800px;
}
.Menu, 
.Quiz,
.EndScreen {
  width: 800px;
  /* min-width:500px;
  max-width: 800px;   */
  min-height: 800px;
  background-color: #e4e4e4;
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 10px;
  /* margin-top: 5px; */
  margin-bottom: 5px;
}

.Menu button, 
.Quiz button,
.EndScreen button {
  /* display: flex; */
  padding: 5px;
  width: 100%;
  /* height: 100%; */
  margin: 5px;
  text-align: start;
  border: solid 5px transparent;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
}
.Menu button{
  text-align: center;
}
.Menu button:hover, 
.Quiz .options button:hover,
.EndScreen button:hover {
border: solid rgb(0, 0, 0) 5px;
}

.selectedAnswer{
  background-color:rgb(0, 0, 0);
  border-radius: 10px ;
  display: flex;
  width: 100%;
}

.nextBtn:hover{
  border: solid 5px transparent;
  font-weight: bold;
}

.options {
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
#right{
  background-color: rgb(198, 255, 92);
}
#wrong{ 
  background-color: rgb(255, 153, 153);
}
button.nextBtn, #endQuestionBtn {
  margin:30px;
  padding:10px;
  text-align: center;
  justify-content: center;
  align-self: center;
}

  #btnWrap{
  width: 100%;
  display:flex;
  justify-content: center;
  }

  .Menu{
    overflow-y:scroll;
    overflow-x: hidden;
    max-height: 60vh;
    margin:0px;
  }
  .Menu::-webkit-scrollbar,
  .Quiz::-webkit-scrollbar,
  .EndScreen::-webkit-scrollbar{
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .Quiz h2{
    align-self: flex-start;
  }
  .MenuContainer {
    display: flex;
    flex-direction:column;
    border: solid black;
    border-top: 0px;
    border-bottom: 0px;
  }
  .questionContainer{
    margin-top: 10px;
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  #footer {
    height:30px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
  }
  #footer a{
    text-decoration: none;
    color: rgb(0, 217, 255);
    margin-right: 10px;
  }
  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 1px;
    background-color: rgb(71, 71, 71);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    z-index: 1;
    color: whitesmoke;
  }
  @media screen and (max-width:900px){
.Menu, 
.Quiz,
.EndScreen {
  width: inherit;
} 
  }
