body {
  margin: 0;
  background-color: #0378A6;
}
h2{
	font-size:25px;
}
.Menu{
  overflow-y:scroll;
  overflow-x: hidden;
  /* max-height: 60vh; */
  margin:0px;
}
.QuizContainer{
  display: flex;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
.Menu, 
.Quiz,
.EndScreen{
  min-height: 600px;
  background-color: #0378A6;
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: #F2F2F2;
  max-width:100%;
  padding: 0;
	max-height:100%;
  padding-top: 30px;
}
.mainMenuMar{
  margin:0;
}
.EndScreen{
	margin:0;
}
.Menu button, 
.Quiz button,
.EndScreen button{
  padding: 5px;
  margin: 5px;
  text-align: start;
  border: solid 5px transparent;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #0D0D0D;
  background-color: #F2F2F2;
  box-shadow: black 0px 0px 5px;
  width: 100%;
}

.menuBtnContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.title > h2{
	color: #F2F2F2;	
	margin: 15px;
}
/* .Menu button:hover, 
.Quiz .options button:hover,
.EndScreen button:hover {
    transform: scale(1.03); 
  box-shadow: rgb(32, 32, 32) 0px 0px 15px;} */
#footer > p{
	margin:0;
	opacity:70%;
}
.selectedAnswer{
  background-color:#F2F2F2;
  border-radius: 10px ;
  display: flex;
  width: 100%;
}

.nextBtn:hover{
  border: solid 5px transparent;
}

.options {
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
#right{
  background-color: rgb(150, 194, 67);
}
#wrong{ 
  background-color: rgb(245, 101, 101);
}

button.nextBtn {
  margin:30px;
  padding:10px;
  text-align: center;
  justify-content: center;
  align-self: center;
}
#endQuestionBtn, .nextBtn{
  max-width:400px;
}
#endQuestionBtn button{
  margin: 10px;
}
#endQuestionBtn{
  margin: 10px 0px 10px 0px;
}
  #btnWrap{
  width: 100%;
  display:flex;
  justify-content: center;
  }


  .Menu::-webkit-scrollbar,
  .Quiz::-webkit-scrollbar,
  .EndScreen::-webkit-scrollbar{
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0378A6;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0378A6;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
  .Quiz h2{
    align-self: flex-start;
  }
  .MenuContainer {
    display: flex;
    flex-direction:column;
    border-top: 0px;
    border-bottom: 0px;
    width:100%;
    padding:0;
    height:100%;
  }
  .questionContainer{
    margin-top: 10px;
  }
  .question{
    margin:20px;
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  #footer {
    height:30px;
    width: 100%;
    background-color: #333;
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
  }
  #footer a{
    text-decoration: none;
    color: rgb(0, 217, 255);
    margin-right: 10px;
  }
  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #0D0D0D solid 1px;
    background-color: rgb(71, 71, 71);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    z-index: 1;
    color: #F2F2F2;
  }

@media screen and (max-width:900) {
  .optionsContainer{
    padding: 0px;
  }
}

.optionsContainer{
  padding: 0px;
  width: 100%;
  max-width: 800px;
}
.question{
max-width: 800px;
justify-self: center;
}
.menuDescription li{
  list-style-type: disc;
  margin: 10px;
}
.menuDescription{
  width: auto;
  color: #333;
  border-radius: 15px;
  background-color: #F2F2F2;
  box-shadow: #555 0px 0px 5px;
  padding:20px;
  margin: 0px 10px 20px 10px;
}
.btnTeste{
text-align: center !important;}
.Menu{
  color: #F2F2F2;
}